Middle_searchResult {
    background: rgba(54, 54, 54, 200);
}

Middle_searchResult::item:hover {

    background: rgb(51, 51, 51);
}

Middle_searchResult::item:selected {

    background: rgb(51, 51, 51);
}
